VITE_API_KEY = Aqui agrega tu API KEY de open ai, deepseek ejemplo: sk-or-v1-1f3........
VITE_API_URL = Aqui agrega la URL de donde se consumira el servisio de open ai, deepseek ejemplo: https://openrouter.ai/api/v1
VITE_API_MODEL = Aqui agrega el modelo a usar de open ai, deepseek ejemplo: deepseek/deepseek-r1-0528:free